<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775183675883-764ao11nrmrf3fkoik39vufduqbl4kde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775183675883-764ao11nrmrf3fkoik39vufduqbl4kde</string>
	<key>API_KEY</key>
	<string>AIzaSyAbTV_LYNx17xKh7ZUUP2xeTfxzF_T-jQU</string>
	<key>GCM_SENDER_ID</key>
	<string>775183675883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ucsd.ucsandiegomychart</string>
	<key>PROJECT_ID</key>
	<string>uc-san-diego-mc-poc</string>
	<key>STORAGE_BUCKET</key>
	<string>uc-san-diego-mc-poc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775183675883:ios:c0a62f1d352a10bbf0e9ae</string>
	<key>DATABASE_URL</key>
	<string>https://uc-san-diego-mc-poc.firebaseio.com</string>
</dict>
</plist>